{% extends 'base.html.twig' %}

{% block title %}TimeEntry{% endblock %}

{% block body %}
    <h1>TimeEntry</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ time_entry.id }}</td>
            </tr>
            <tr>
                <th>Minutes</th>
                <td>{{ time_entry.minutes }}</td>
            </tr>
            <tr>
                <th>Note</th>
                <td>{{ time_entry.note }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ time_entry.createdAt ? time_entry.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    {% set back = time_entry.relatedOrder
    ? path('app_order_show', {'id': time_entry.relatedOrder.id})
    : path('app_time_entry_index') %}

    <a href="{{ back }}">Back</a>

    <a href="{{ path('app_time_entry_edit', {'id': time_entry.id}) }}">edit</a>

    {{ include('time_entry/_delete_form.html.twig') }}
{% endblock %}
